In [851]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np

In [852]:
poster = pd.read_csv('duplicate_free_41K.csv')
poster = poster.drop(['id','action','year','rating', 'adventure','comedy','crime','drama','fantasy','horror','mystery','romance','sci-fi','short','thriller','animation'], axis=1)
poster.rename(columns={"title": "Film"}, inplace=True)

In [854]:
year_df =  big_actor_movie[['Film','Year']]

In [855]:
big_actor_movie = pd.read_csv('actorfilms.csv')  
df_big_actor_movie = big_actor_movie[['Film', 'Actor','Year','Rating']]
df_big_actor_movie

                                  Film                Actor  Year  Rating
0                          Ghost Story         Fred Astaire  1981     6.3
1                      The Purple Taxi         Fred Astaire  1977     6.6
2                The Amazing Dobermans         Fred Astaire  1976     5.3
3                 The Towering Inferno         Fred Astaire  1974     7.0
4                            Midas Run         Fred Astaire  1969     4.8
...                                ...                  ...   ...     ...
191868                     Jojo Rabbit  Roman Griffin Davis  2019     7.9
191869                       Silk Road            Lexi Rabe  2021     5.9
191870               Avengers: Endgame            Lexi Rabe  2019     8.4
191871  Godzilla: King of the Monsters            Lexi Rabe  2019     6.0
191872                   Wander Darkly      Inde Navarrette  2020     5.8

[191873 rows x 4 columns]

In [856]:
big_actors = np.unique(df_big_actor_movie['Actor'])
big_films = np.unique(df_big_actor_movie['Film'])


big_actor_by_film = dict.fromkeys(big_films, [])
big_actor_by_film

for i in range(len(df_big_actor_movie)):
    big_actor_by_film[df_big_actor_movie['Film'][i]] = big_actor_by_film[df_big_actor_movie['Film'][i]] + [df_big_actor_movie['Actor'][i]]

In [857]:
big_actor_by_film_df = pd.DataFrame(big_actor_by_film.items(), columns = ['Film', 'Actor list'])
big_actor_by_film_df.head()

,Film,Actor list
0,"!Ay, mi madre!",[Paz Vega]
1,!Hay motivo!,"[Luis Tosar, Marta Etura]"
2,!Three Amigos!,"[Steve Martin, Chevy Chase, Jon Lovitz, Joe Ma..."
3,#Alive,[Park Shin-Hye]
4,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign..."
...,...,...
41045,s/y Gladjen,"[Lena Olin, Stellan Skarsgard]"
41046,sxtape,[Chris Coy]
41047,xXx,"[Samuel L. Jackson, Asia Argento, Thomas Ian G..."
41048,xXx: Return of Xander Cage,"[Samuel L. Jackson, Toni Collette, Ice Cube, A..."
41049,xXx: State of the Union,"[Samuel L. Jackson, Willem Dafoe, Ice Cube, Sc..."

In [858]:
df = pd.merge(big_actor_by_film_df, poster, on="Film")
df = pd.merge(df, year_df, on="Film")
df.head()

,Film,Actor list,poster,genre,Year
0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror",2020
1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror",2015
2,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror",2015
3,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror",2015
4,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror",2015
...,...,...,...,...,...
89293,iMurders,"[Gabrielle Anwar, Charles Durning, William For...",https://m.media-amazon.com/images/M/MV5BMjE3ND...,"crime, drama, horror",2008
89294,iMurders,"[Gabrielle Anwar, Charles Durning, William For...",https://m.media-amazon.com/images/M/MV5BMjE3ND...,"crime, drama, horror",2008
89295,iMurders,"[Gabrielle Anwar, Charles Durning, William For...",https://m.media-amazon.com/images/M/MV5BMjE3ND...,"crime, drama, horror",2008
89296,iMurders,"[Gabrielle Anwar, Charles Durning, William For...",https://m.media-amazon.com/images/M/MV5BMjE3ND...,"crime, drama, horror",2008
89297,sxtape,[Chris Coy],https://m.media-amazon.com/images/M/MV5BNDU4MD...,horror,2013

In [859]:
df = df.drop_duplicates(subset=['Film'])
df = df.reset_index()
df.head()

,index,Film,Actor list,poster,genre,Year
0,0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror",2020
1,1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror",2015
2,7,#Iamhere,[Bae Doona],https://m.media-amazon.com/images/M/MV5BZjRhN2...,comedy,2019
3,8,#NAME?,"[Ray Milland, Robert Montgomery]",https://m.media-amazon.com/images/M/MV5BNzdlZj...,"animation, short, comedy",1932
4,10,#REALITYHIGH,"[Kate Walsh, John Michael Higgins, Anne Winter...",https://m.media-amazon.com/images/M/MV5BNDU3Mz...,"comedy, drama, romance",2017
...,...,...,...,...,...,...
11489,89284,[Rec] 2,[Javier Botet],https://m.media-amazon.com/images/M/MV5BMTI4Mj...,"action, adventure, fantasy",2009
11490,89285,eCupid,[Morgan Fairchild],https://m.media-amazon.com/images/M/MV5BMTQwMT...,romance,2011
11491,89286,iBoy,"[Miranda Richardson, Rory Kinnear, Maisie Will...",https://m.media-amazon.com/images/M/MV5BNjQxOD...,"action, crime, sci-fi",2017
11492,89290,iMurders,"[Gabrielle Anwar, Charles Durning, William For...",https://m.media-amazon.com/images/M/MV5BMjE3ND...,"crime, drama, horror",2008
11493,89297,sxtape,[Chris Coy],https://m.media-amazon.com/images/M/MV5BNDU4MD...,horror,2013

In [863]:
actors = np.unique(df['Actor list'])
genre = np.unique(df['genre'].str.split(', ').sum())
movie = np.unique(df['Film'].str.split(', ').sum())

In [865]:
combined_list = []

for lst in actors:
    combined_list.extend(lst)

unique_list = list(set(combined_list))

In [866]:
unique_list = np.array(unique_list)

In [867]:
unique_list

array(['Kyra Sedgwick', 'Bryan Singer', 'Nicole Maines', ...,
       'Pamela Franklin', 'Paris Hilton', 'Lauren Miller Rogen'],
      dtype='<U27')

In [869]:
df['Actor_List_id'] = df['Actor list'].apply(lambda x: [np.where(unique_list == i)[0][0] for i in x])

In [870]:
df.head()

,index,Film,Actor list,poster,genre,Year,Actor_List_id
0,0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror",2020,[3267]
1,1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror",2015,"[443, 3037, 5878, 2311, 7770, 6]"
2,7,#Iamhere,[Bae Doona],https://m.media-amazon.com/images/M/MV5BZjRhN2...,comedy,2019,[2192]
3,8,#NAME?,"[Ray Milland, Robert Montgomery]",https://m.media-amazon.com/images/M/MV5BNzdlZj...,"animation, short, comedy",1932,"[2888, 955]"
4,10,#REALITYHIGH,"[Kate Walsh, John Michael Higgins, Anne Winter...",https://m.media-amazon.com/images/M/MV5BNDU3Mz...,"comedy, drama, romance",2017,"[1942, 7860, 2244, 7692, 2419, 6047]"

In [871]:
adj_matrix = np.zeros((len(unique_list),len(unique_list)))

In [872]:
for i in range(len(df)):
    for j in range(len(df['Actor_List_id'][i])-1):
        for k in range(j+1,len(df['Actor_List_id'][i])-1):
            adj_matrix[df['Actor_List_id'][i][j]][df['Actor_List_id'][i][k]] = adj_matrix[df['Actor_List_id'][i][j]][df['Actor_List_id'][i][k]]+ 1
            adj_matrix[df['Actor_List_id'][i][k]][df['Actor_List_id'][i][j]] = adj_matrix[df['Actor_List_id'][i][k]][df['Actor_List_id'][i][j]]+ 1