In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np

In [2]:
poster = pd.read_csv('poster.csv')
poster = poster.drop(['id','action','year','rating', 'adventure','comedy','crime','drama','fantasy','horror','mystery','romance','sci-fi','short','thriller','animation'], axis=1)
poster.rename(columns={"title": "Film"}, inplace=True)

In [3]:
big_actor_movie = pd.read_csv('actorfilms.csv')  
df_big_actor_movie = big_actor_movie[['Film', 'Actor','Year','Rating']]
df_big_actor_movie

                                  Film                Actor  Year  Rating
0                          Ghost Story         Fred Astaire  1981     6.3
1                      The Purple Taxi         Fred Astaire  1977     6.6
2                The Amazing Dobermans         Fred Astaire  1976     5.3
3                 The Towering Inferno         Fred Astaire  1974     7.0
4                            Midas Run         Fred Astaire  1969     4.8
...                                ...                  ...   ...     ...
191868                     Jojo Rabbit  Roman Griffin Davis  2019     7.9
191869                       Silk Road            Lexi Rabe  2021     5.9
191870               Avengers: Endgame            Lexi Rabe  2019     8.4
191871  Godzilla: King of the Monsters            Lexi Rabe  2019     6.0
191872                   Wander Darkly      Inde Navarrette  2020     5.8

[191873 rows x 4 columns]

In [4]:
big_actors = np.unique(df_big_actor_movie['Actor'])
big_films = np.unique(df_big_actor_movie['Film'])


big_actor_by_film = dict.fromkeys(big_films, [])
big_actor_by_film

for i in range(len(df_big_actor_movie)):
    big_actor_by_film[df_big_actor_movie['Film'][i]] = big_actor_by_film[df_big_actor_movie['Film'][i]] + [df_big_actor_movie['Actor'][i]]

In [5]:
big_actor_by_film_df = pd.DataFrame(big_actor_by_film.items(), columns = ['Film', 'Actor list'])
big_actor_by_film_df.head()

             Film                                         Actor list
0  !Ay, mi madre!                                         [Paz Vega]
1    !Hay motivo!                          [Luis Tosar, Marta Etura]
2  !Three Amigos!  [Steve Martin, Chevy Chase, Jon Lovitz, Joe Ma...
3          #Alive                                    [Park Shin-Hye]
4         #Horror  [Timothy Hutton, Balthazar Getty, Chloe Sevign...

In [6]:
df = pd.merge(big_actor_by_film_df, poster, on="Film")
df.head()

,Film,Actor list,poster,genre
0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror"
1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror"
2,#Iamhere,[Bae Doona],https://m.media-amazon.com/images/M/MV5BZjRhN2...,comedy
3,#NAME?,"[Ray Milland, Robert Montgomery]",https://m.media-amazon.com/images/M/MV5BNzdlZj...,"animation, short, comedy"
4,#REALITYHIGH,"[Kate Walsh, John Michael Higgins, Anne Winter...",https://m.media-amazon.com/images/M/MV5BNDU3Mz...,"comedy, drama, romance"

In [7]:
df = df.drop_duplicates(subset=['Film'])
df = df.reset_index()
df.head()

,index,Film,Actor list,poster,genre
0,0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror"
1,1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror"
2,2,#Iamhere,[Bae Doona],https://m.media-amazon.com/images/M/MV5BZjRhN2...,comedy
3,3,#NAME?,"[Ray Milland, Robert Montgomery]",https://m.media-amazon.com/images/M/MV5BNzdlZj...,"animation, short, comedy"
4,4,#REALITYHIGH,"[Kate Walsh, John Michael Higgins, Anne Winter...",https://m.media-amazon.com/images/M/MV5BNDU3Mz...,"comedy, drama, romance"

In [8]:
actors = np.unique(df['Actor list'])
genre = np.unique(df['genre'].str.split(', ').sum())
movie = np.unique(df['Film'].str.split(', ').sum())

In [9]:
combined_list = []

for lst in actors:
    combined_list.extend(lst)

unique_list = list(set(combined_list))

In [10]:
unique_list = np.array(unique_list)

In [11]:
unique_list

array(['Michaela Coel', 'Bodhi Elfman', 'John Hannah', ...,
       'Lorna Nickson Brown', 'Megan Hilty', 'Alec Guinness'],
      dtype='<U27')

In [12]:
df['Actor_List_id'] = df['Actor list'].apply(lambda x: [np.where(unique_list == i)[0][0] for i in x])

In [13]:
df.head()

,index,Film,Actor list,poster,genre,Actor_List_id
0,0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror",[1224]
1,1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror","[1890, 4557, 2069, 1213, 507, 6946]"
2,2,#Iamhere,[Bae Doona],https://m.media-amazon.com/images/M/MV5BZjRhN2...,comedy,[4126]
3,3,#NAME?,"[Ray Milland, Robert Montgomery]",https://m.media-amazon.com/images/M/MV5BNzdlZj...,"animation, short, comedy","[6483, 2544]"
4,4,#REALITYHIGH,"[Kate Walsh, John Michael Higgins, Anne Winter...",https://m.media-amazon.com/images/M/MV5BNDU3Mz...,"comedy, drama, romance","[7390, 7519, 971, 5017, 7280, 7908]"

In [14]:
adj_matrix = np.zeros((len(unique_list),len(unique_list)))

In [22]:
df['Actor list'][1][0][0]

'T'

In [21]:
for i in range(len(df)):
    for j in range(len(df['Actor_List_id'][i])-1):
        for k in range(j+1,len(df['Actor_List_id'][i])-1):
            adj_matrix[df['Actor_List_id'][i][j]][df['Actor_List_id'][i][k]] = adj_matrix[df['Actor_List_id'][i][j]][df['Actor_List_id'][i][k]]+ 1
            adj_matrix[df['Actor_List_id'][i][k]][df['Actor_List_id'][i][j]] = adj_matrix[df['Actor_List_id'][i][k]][df['Actor_List_id'][i][j]]+ 1

In [ ]:
adj_matrix[6094][4040]

In [ ]:
filtered_df = df[df['Actor list'].apply(lambda x:"Robert De Niro" in x)]
filtered_df

In [ ]:
filtered_df = df[df['Film'].apply(lambda x:"Shining" in x)]
filtered_df