In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np

In [2]:
poster = pd.read_csv('poster.csv')
poster = poster.drop(['id','action','year','rating', 'adventure','comedy','crime','drama','fantasy','horror','mystery','romance','sci-fi','short','thriller','animation'], axis=1)
poster.rename(columns={"title": "Film"}, inplace=True)

In [3]:
big_actor_movie = pd.read_csv('actorfilms.csv')  
df_big_actor_movie = big_actor_movie[['Film', 'Actor','Year','Rating']]
df_big_actor_movie

                                  Film                Actor  Year  Rating
0                          Ghost Story         Fred Astaire  1981     6.3
1                      The Purple Taxi         Fred Astaire  1977     6.6
2                The Amazing Dobermans         Fred Astaire  1976     5.3
3                 The Towering Inferno         Fred Astaire  1974     7.0
4                            Midas Run         Fred Astaire  1969     4.8
...                                ...                  ...   ...     ...
191868                     Jojo Rabbit  Roman Griffin Davis  2019     7.9
191869                       Silk Road            Lexi Rabe  2021     5.9
191870               Avengers: Endgame            Lexi Rabe  2019     8.4
191871  Godzilla: King of the Monsters            Lexi Rabe  2019     6.0
191872                   Wander Darkly      Inde Navarrette  2020     5.8

[191873 rows x 4 columns]

In [4]:
big_actors = np.unique(df_big_actor_movie['Actor'])
big_films = np.unique(df_big_actor_movie['Film'])


big_actor_by_film = dict.fromkeys(big_films, [])
big_actor_by_film

for i in range(len(df_big_actor_movie)):
    big_actor_by_film[df_big_actor_movie['Film'][i]] = big_actor_by_film[df_big_actor_movie['Film'][i]] + [df_big_actor_movie['Actor'][i]]

In [5]:
big_actor_by_film_df = pd.DataFrame(big_actor_by_film.items(), columns = ['Film', 'Actor list'])
big_actor_by_film_df.head()

             Film                                         Actor list
0  !Ay, mi madre!                                         [Paz Vega]
1    !Hay motivo!                          [Luis Tosar, Marta Etura]
2  !Three Amigos!  [Steve Martin, Chevy Chase, Jon Lovitz, Joe Ma...
3          #Alive                                    [Park Shin-Hye]
4         #Horror  [Timothy Hutton, Balthazar Getty, Chloe Sevign...

In [6]:
df = pd.merge(big_actor_by_film_df, poster, on="Film")
df.head()

,Film,Actor list,poster,genre
0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror"
1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror"
2,#Iamhere,[Bae Doona],https://m.media-amazon.com/images/M/MV5BZjRhN2...,comedy
3,#NAME?,"[Ray Milland, Robert Montgomery]",https://m.media-amazon.com/images/M/MV5BNzdlZj...,"animation, short, comedy"
4,#REALITYHIGH,"[Kate Walsh, John Michael Higgins, Anne Winter...",https://m.media-amazon.com/images/M/MV5BNDU3Mz...,"comedy, drama, romance"

In [7]:
df = df.drop_duplicates(subset=['Film'])
df = df.reset_index()
df.head()

,index,Film,Actor list,poster,genre
0,0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror"
1,1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror"
2,2,#Iamhere,[Bae Doona],https://m.media-amazon.com/images/M/MV5BZjRhN2...,comedy
3,3,#NAME?,"[Ray Milland, Robert Montgomery]",https://m.media-amazon.com/images/M/MV5BNzdlZj...,"animation, short, comedy"
4,4,#REALITYHIGH,"[Kate Walsh, John Michael Higgins, Anne Winter...",https://m.media-amazon.com/images/M/MV5BNDU3Mz...,"comedy, drama, romance"

In [8]:
actors = np.unique(df['Actor list'])
genre = np.unique(df['genre'].str.split(', ').sum())
movie = np.unique(df['Film'].str.split(', ').sum())

In [9]:
combined_list = []

for lst in actors:
    combined_list.extend(lst)

unique_list = list(set(combined_list))

In [10]:
unique_list = np.array(unique_list)

In [11]:
unique_list

array(['Folake Olowofoyeku', 'Jonathan Bennett', 'Stephany Jacobsen', ...,
       'Lee Norris', 'Drew Carey', 'Spencer Grammer'], dtype='<U27')

In [12]:
df['Actor_List_id'] = df['Actor list'].apply(lambda x: [np.where(unique_list == i)[0][0] for i in x])

In [13]:
df.head()

,index,Film,Actor list,poster,genre,Actor_List_id
0,0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror",[4729]
1,1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror","[7298, 8096, 143, 8869, 96, 1270]"
2,2,#Iamhere,[Bae Doona],https://m.media-amazon.com/images/M/MV5BZjRhN2...,comedy,[8483]
3,3,#NAME?,"[Ray Milland, Robert Montgomery]",https://m.media-amazon.com/images/M/MV5BNzdlZj...,"animation, short, comedy","[2387, 2122]"
4,4,#REALITYHIGH,"[Kate Walsh, John Michael Higgins, Anne Winter...",https://m.media-amazon.com/images/M/MV5BNDU3Mz...,"comedy, drama, romance","[152, 4992, 3455, 5439, 4212, 5568]"

In [14]:
adj_matrix = np.zeros((len(unique_list),len(unique_list)))

In [15]:
for i in range(len(df)):
    for j in range(len(df['Actor_List_id'][i])-1):
        for k in range(j+1,len(df['Actor_List_id'][i])-1):
            adj_matrix[df['Actor_List_id'][i][j]][df['Actor_List_id'][i][k]] = adj_matrix[df['Actor_List_id'][i][j]][df['Actor_List_id'][i][k]]+ 1
            adj_matrix[df['Actor_List_id'][i][k]][df['Actor_List_id'][i][j]] = adj_matrix[df['Actor_List_id'][i][k]][df['Actor_List_id'][i][j]]+ 1

In [16]:
adj_matrix[6094][4040]

0.0

In [17]:
filtered_df = df[df['Actor list'].apply(lambda x:"Robert De Niro" in x)]
filtered_df

,index,Film,Actor list,poster,genre,Actor_List_id
725,826,American Hustle,"[Robert De Niro, Christian Bale, Anthony Zerbe...",https://m.media-amazon.com/images/M/MV5BMmM4Yz...,"crime, drama","[3679, 6949, 1768, 2624, 4716, 3811, 3082, 893..."
1297,1470,Being Flynn,"[Robert De Niro, Julianne Moore, Lili Taylor, ...",https://m.media-amazon.com/images/M/MV5BMjI1OT...,drama,"[3679, 4063, 5060, 7561, 1228, 8124, 1802, 389..."
2812,3271,Dirty Grandpa,"[Robert De Niro, Danny Glover, Dermot Mulroney...",https://m.media-amazon.com/images/M/MV5BMzk0Nz...,comedy,"[3679, 923, 1381, 4582, 352, 1915, 6777, 7114,..."
3213,3753,Everybody's Fine,"[Marcello Mastroianni, Drew Barrymore, Robert ...",https://m.media-amazon.com/images/M/MV5BMTM1Nz...,drama,"[614, 4211, 3679, 5829, 8163, 513, 3086, 6552,..."
3479,4057,Flawless,"[Robert De Niro, Demi Moore, Michael Caine, Ph...",https://m.media-amazon.com/images/M/MV5BMjA1NT...,"crime, drama, thriller","[3679, 8741, 6933, 2217, 3072, 736, 8494, 4681..."
3593,4194,Freelancers,"[Robert De Niro, Dana Delany, Forest Whitaker,...",https://m.media-amazon.com/images/M/MV5BMjEyNj...,"action, crime, drama","[3679, 8151, 7208, 6776, 4538, 7075, 1781, 711..."
3901,4561,Great Expectations,"[Alec Guinness, Robert De Niro, Ralph Fiennes,...",https://m.media-amazon.com/images/M/MV5BMjMzOD...,"drama, romance","[780, 3679, 7174, 8737, 521, 2258, 33, 6812, 3..."
4103,4790,Heist,"[Robert De Niro, Danny DeVito, Gene Hackman, D...",https://m.media-amazon.com/images/M/MV5BMjEzNT...,"action, crime, drama","[3679, 3416, 6606, 2599, 3714, 4070, 5160, 816..."
4173,4877,Hide and Seek,"[Robert De Niro, Elisabeth Shue, Famke Janssen...",https://m.media-amazon.com/images/M/MV5BNWY2ZT...,"crime, drama, thriller","[3679, 494, 2830, 4018, 4445, 719, 477, 6552, ..."
4853,5669,Joker,"[Robert De Niro, Joaquin Phoenix, Bryan Callen...",https://m.media-amazon.com/images/M/MV5BNGVjNW...,"crime, drama, thriller","[3679, 3626, 2887, 5214, 1921, 1171, 4395, 795..."
5017,5855,Killer Elite,"[Robert De Niro, Jason Statham, Adewale Akinnu...",https://m.media-amazon.com/images/M/MV5BMTc4MD...,"action, thriller","[3679, 3631, 1234, 6654, 8231, 800, 379, 3741,..."
5040,5879,Killing Season,"[Robert De Niro, John Travolta, Milo Ventimiglia]",https://m.media-amazon.com/images/M/MV5BOTQ2Mz...,"action, drama, thriller","[3679, 1155, 3058]"
5215,6065,Last Vegas,"[Robert De Niro, Michael Douglas, Morgan Freem...",https://m.media-amazon.com/images/M/MV5BMTQ2OD...,"comedy, drama","[3679, 4709, 4470, 3593, 544, 6168, 5669, 1284..."
5345,6217,Limitless,"[Robert De Niro, Robert John Burke, Bradley Co...",https://m.media-amazon.com/images/M/MV5BMTA4OD...,"comedy, crime, drama","[3679, 719, 8939, 3966, 6595, 1850, 5409]"
5373,6251,Little Fockers,"[Robert De Niro, Dustin Hoffman, Harvey Keitel...",https://m.media-amazon.com/images/M/MV5BMTkwNj...,"comedy, romance","[3679, 4187, 2673, 2185, 4563, 1385, 3980, 434..."
5623,6534,Machete,"[Robert De Niro, Steven Seagal, Don Johnson, R...",https://m.media-amazon.com/images/M/MV5BZWUxOD...,"action, crime, thriller","[3679, 7578, 7927, 4019, 2846, 8934, 6413, 689..."
5815,6761,Meet the Parents,"[Robert De Niro, Blythe Danner, Teri Polo, Ben...",https://m.media-amazon.com/images/M/MV5BMjA3OT...,comedy,"[3679, 1385, 3980, 4348, 6210, 262, 7503, 8808..."
6267,7285,New Year's Eve,"[Matthew Broderick, Robert De Niro, Cary Elwes...",https://m.media-amazon.com/images/M/MV5BMjI2Mz...,"comedy, romance","[360, 3679, 58, 2110, 4742, 8178, 6764, 2066, ..."
7230,8420,Red Lights,"[Robert De Niro, Sigourney Weaver, Joely Richa...",https://m.media-amazon.com/images/M/MV5BMTQzMj...,"drama, fantasy, horror","[3679, 1751, 1702, 7136, 5166, 175, 7732, 1394..."
7354,8574,Righteous Kill,"[Robert De Niro, Al Pacino, John Leguizamo, Br...",https://m.media-amazon.com/images/M/MV5BMTYwMj...,"crime, drama, mystery","[3679, 119, 3022, 7081, 5380, 3069, 6010, 6552..."
7831,9163,Silver Linings Playbook,"[Robert De Niro, Chris Tucker, Dash Mihok, Jul...",https://m.media-amazon.com/images/M/MV5BMTM2MT...,"comedy, drama, romance","[3679, 5942, 486, 691, 6985, 8939, 4480, 1757,..."
8137,9530,Stardust,"[Claire Danes, Robert De Niro, Michelle Pfeiff...",https://m.media-amazon.com/images/M/MV5BYTc4OT...,drama,"[3274, 3679, 4742, 4571, 467, 3573, 7291, 4344..."
8199,9602,Stone,"[Robert De Niro, Milla Jovovich, Edward Norton...",https://m.media-amazon.com/images/M/MV5BMTgxOT...,"drama, thriller","[3679, 2177, 8728, 7020, 1921, 502]"
8572,10023,The Ages of Love,"[Robert De Niro, Monica Bellucci, Riccardo Sca...",https://m.media-amazon.com/images/M/MV5BNTMzYW...,"comedy, romance","[3679, 6930, 1665]"
8648,10110,The Bag Man,"[John Cusack, Robert De Niro, Crispin Glover, ...",https://m.media-amazon.com/images/M/MV5BMjE4ND...,"action, crime, drama","[5903, 3679, 8499, 379]"
8702,10175,The Big Wedding,"[Robert De Niro, Susan Sarandon, Robin William...",https://m.media-amazon.com/images/M/MV5BMTcwOD...,"comedy, drama, romance","[3679, 4079, 6719, 8651, 8701, 8312, 2779, 241..."
8870,10388,The Comedian,"[Robert De Niro, Harvey Keitel, Billy Crystal,...",https://m.media-amazon.com/images/M/MV5BMTgyOT...,"comedy, drama, romance","[3679, 2673, 1453, 3416, 823, 3045, 4943, 2437..."
9110,10691,The Family,"[Robert De Niro, Tommy Lee Jones, Michelle Pfe...",https://m.media-amazon.com/images/M/MV5BMTg1Mj...,"drama, mystery","[3679, 1366, 4742, 3905, 5205, 1530, 4627, 642..."
9427,11068,The Intern,"[Robert De Niro, Michael Mann, Rene Russo, Ann...",https://m.media-amazon.com/images/M/MV5BMTUyNj...,"comedy, drama","[3679, 7617, 5609, 2414, 3324, 6119, 6899, 608..."
9559,11220,The Last Tycoon,"[Robert Mitchum, Robert De Niro, Jack Nicholso...",https://m.media-amazon.com/images/M/MV5BZDVhOT...,drama,"[8333, 3679, 2630, 319, 2594, 1185, 7600, 1663..."
10409,12250,The Wedding Party,"[Robert De Niro, Jill Clayburgh, Essie Davis, ...",https://m.media-amazon.com/images/M/MV5BNzZlMD...,"comedy, romance","[3679, 438, 2764, 527, 5063, 6674, 5421]"
11172,13152,What Just Happened,"[Robert De Niro, Bruce Willis, Sean Penn, Mich...",https://m.media-amazon.com/images/M/MV5BNTEyMD...,"comedy, drama","[3679, 7231, 2811, 6045, 1646, 2835, 7680, 387..."

In [18]:
filtered_df = df[df['Film'].apply(lambda x:"Shining" in x)]
filtered_df

Empty DataFrame
Columns: [index, Film, Actor list, poster, genre, Actor_List_id]
Index: []